# Data Salary Prediction Model

## Package Imports

In [1]:
import pandas as pd
import tensorflow_decision_forests as tfdf

## Prepare Dataset

In [2]:
dataset = pd.read_csv('jobs_in_data.csv')

### Filter Fields

In [3]:
df = dataset[dataset['employee_residence'] == 'United States'].loc[:, ~dataset.columns.isin(['salary_currency', 'salary','job_category'])]
print(df)

      work_year                 job_title  salary_in_usd employee_residence  \
1          2023            Data Architect         186000      United States
2          2023            Data Architect          81800      United States
3          2023            Data Scientist         212000      United States
4          2023            Data Scientist          93300      United States
5          2023            Data Scientist         130000      United States
...         ...                       ...            ...                ...
9350       2021           Data Specialist         165000      United States
9351       2020            Data Scientist         412000      United States
9352       2021  Principal Data Scientist         151000      United States
9353       2020            Data Scientist         105000      United States
9354       2020     Business Data Analyst         100000      United States

     experience_level employment_type work_setting company_location  \
1              Senior       Full-time    In-person    United States
2              Senior       Full-time    In-person    United States
3              Senior       Full-time    In-person    United States
4              Senior       Full-time    In-person    United States
5              Senior       Full-time       Remote    United States
...               ...             ...          ...              ...
9350           Senior       Full-time       Remote    United States
9351           Senior       Full-time       Remote    United States
9352        Mid-level       Full-time       Remote    United States
9353      Entry-level       Full-time       Remote    United States
9354      Entry-level        Contract       Remote    United States

     company_size
1               M
2               M
3               M
4               M
5               M
...           ...
9350            L
9351            L
9352            L
9353            S
9354            L

[8086 rows x 9 columns]

### Test the Dataset

In [4]:
jobTypeMean = df.groupby("experience_level")["salary_in_usd"].mean().round(2)
print(jobTypeMean)

experience_level
Entry-level    104637.16
Executive      195731.13
Mid-level      130431.59
Senior         166284.88
Name: salary_in_usd, dtype: float64

### Split Dataset into Train and Test Dataframes

In [11]:
train_df = df.iloc[:7000,:]
test_df = df.iloc[7000:,:]

### Covert to TensorFlow Datasets

In [12]:
label = 'salary_in_usd'
# Will assign each label to an integer value and convert the dataframes to TensorFlow datasets
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_df, label=label, task = tfdf.keras.Task.REGRESSION)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test_df, label=label, task = tfdf.keras.Task.REGRESSION)

## Train and Fit the Model

### Using Random Forest Regression Model

In [13]:
model = tfdf.keras.RandomForestModel(task = tfdf.keras.Task.REGRESSION)
model.fit(train_ds)

Use /var/folders/3z/2gcw_n2549qdw21w2lvvh6hh0000gn/T/tmps81wanac as temporary training directory
Reading training dataset...
Training dataset read in 0:00:00.116447. Found 7000 examples.
Training model...
Model trained in 0:00:00.333311
Compiling model...

[INFO 24-06-15 22:17:41.2859 EDT kernel.cc:1233] Loading model from path /var/folders/3z/2gcw_n2549qdw21w2lvvh6hh0000gn/T/tmps81wanac/model/ with prefix 82fa0df8168d475d
[INFO 24-06-15 22:17:41.4122 EDT decision_forest.cc:734] Model loaded with 300 root(s), 96068 node(s), and 7 input feature(s).
[INFO 24-06-15 22:17:41.4123 EDT abstract_model.cc:1344] Engine "RandomForestGeneric" built
[INFO 24-06-15 22:17:41.4123 EDT kernel.cc:1061] Use fast generic engine

Model compiled.

### Model Summary

In [14]:
model.summary()

Model: "random_forest_model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: REGRESSION
Label: "__LABEL"

Input Features (8):
	company_location
	company_size
	employee_residence
	employment_type
	experience_level
	job_title
	work_setting
	work_year

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.        "job_title"  0.696659 ################
    2. "experience_level"  0.415081 ########
    3.        "work_year"  0.144375 #
    4.     "work_setting"  0.142072
    5.     "company_size"  0.130767
    6.  "employment_type"  0.106739
    7. "company_location"  0.105498

Variable Importance: NUM_AS_ROOT:
    1.        "job_title" 199.000000 ################
    2. "experience_level" 79.000000 ######
    3.        "work_year" 19.000000 #
    4.     "work_setting"  3.000000

Variable Importance: NUM_NODES:
    1.        "job_title" 27681.000000 ################
    2.     "work_setting" 8564.000000 ####
    3. "experience_level" 4267.000000 ##
    4.        "work_year" 4081.000000 ##
    5.     "company_size" 3225.000000 #
    6.  "employment_type" 58.000000
    7. "company_location"  8.000000

Variable Importance: SUM_SCORE:
    1.        "job_title" 1851360681100662.500000 ################
    2. "experience_level" 553650162463067.000000 ####
    3.     "work_setting" 74272457958261.906250
    4.        "work_year" 35828135739329.343750
    5.     "company_size" 27512129005821.421875
    6.  "employment_type" 1880381173230.262207
    7. "company_location" 44828280710.000000



Out-of-bag evaluation: rmse:50384
Number of trees: 300
Total number of nodes: 96068

Number of nodes by tree:
Count: 300 Average: 320.227 StdDev: 8.86427
Min: 291 Max: 341 Ignored: 0
----------------------------------------------
[ 291, 293)  1   0.33%   0.33%
[ 293, 296)  1   0.33%   0.67%
[ 296, 298)  1   0.33%   1.00%
[ 298, 301)  2   0.67%   1.67%
[ 301, 303)  6   2.00%   3.67% #
[ 303, 306)  6   2.00%   5.67% #
[ 306, 308)  7   2.33%   8.00% #
[ 308, 311) 11   3.67%  11.67% ##
[ 311, 313) 19   6.33%  18.00% ####
[ 313, 316) 34  11.33%  29.33% ######
[ 316, 319) 30  10.00%  39.33% ######
[ 319, 321) 28   9.33%  48.67% #####
[ 321, 324) 53  17.67%  66.33% ##########
[ 324, 326) 19   6.33%  72.67% ####
[ 326, 329) 21   7.00%  79.67% ####
[ 329, 331) 19   6.33%  86.00% ####
[ 331, 334) 25   8.33%  94.33% #####
[ 334, 336)  6   2.00%  96.33% #
[ 336, 339)  8   2.67%  99.00% ##
[ 339, 341]  3   1.00% 100.00% #

Depth by leafs:
Count: 48184 Average: 8.48767 StdDev: 1.92292
Min: 2 Max: 15 Ignored: 0
----------------------------------------------
[  2,  3)    4   0.01%   0.01%
[  3,  4)   53   0.11%   0.12%
[  4,  5)  514   1.07%   1.19% #
[  5,  6) 1786   3.71%   4.89% ##
[  6,  7) 4789   9.94%  14.83% #####
[  7,  8) 8442  17.52%  32.35% #########
[  8,  9) 9532  19.78%  52.13% ##########
[  9, 10) 8641  17.93%  70.07% #########
[ 10, 11) 6929  14.38%  84.45% #######
[ 11, 12) 4402   9.14%  93.58% #####
[ 12, 13) 2167   4.50%  98.08% ##
[ 13, 14)  720   1.49%  99.57% #
[ 14, 15)  187   0.39%  99.96%
[ 15, 15]   18   0.04% 100.00%

Number of training obs by leaf:
Count: 48184 Average: 43.5829 StdDev: 104.033
Min: 5 Max: 813 Ignored: 0
----------------------------------------------
[   5,  45) 39598  82.18%  82.18% ##########
[  45,  85)  4268   8.86%  91.04% #
[  85, 126)   721   1.50%  92.53%
[ 126, 166)  1124   2.33%  94.87%
[ 166, 207)   256   0.53%  95.40%
[ 207, 247)   117   0.24%  95.64%
[ 247, 288)   101   0.21%  95.85%
[ 288, 328)   365   0.76%  96.61%
[ 328, 369)   400   0.83%  97.44%
[ 369, 409)    60   0.12%  97.56%
[ 409, 449)   186   0.39%  97.95%
[ 449, 490)    86   0.18%  98.13%
[ 490, 530)   121   0.25%  98.38%
[ 530, 571)   163   0.34%  98.72%
[ 571, 611)    17   0.04%  98.75%
[ 611, 652)    48   0.10%  98.85%
[ 652, 692)   182   0.38%  99.23%
[ 692, 733)   196   0.41%  99.64%
[ 733, 773)   138   0.29%  99.92%
[ 773, 813]    37   0.08% 100.00%

Attribute in nodes:
	27681 : job_title [CATEGORICAL]
	8564 : work_setting [CATEGORICAL]
	4267 : experience_level [CATEGORICAL]
	4081 : work_year [NUMERICAL]
	3225 : company_size [CATEGORICAL]
	58 : employment_type [CATEGORICAL]
	8 : company_location [CATEGORICAL]

Attribute in nodes with depth <= 0:
	199 : job_title [CATEGORICAL]
	79 : experience_level [CATEGORICAL]
	19 : work_year [NUMERICAL]
	3 : work_setting [CATEGORICAL]

Attribute in nodes with depth <= 1:
	540 : job_title [CATEGORICAL]
	318 : experience_level [CATEGORICAL]
	27 : work_year [NUMERICAL]
	12 : work_setting [CATEGORICAL]
	3 : company_size [CATEGORICAL]

Attribute in nodes with depth <= 2:
	1141 : job_title [CATEGORICAL]
	800 : experience_level [CATEGORICAL]
	57 : company_size [CATEGORICAL]
	51 : work_year [NUMERICAL]
	42 : work_setting [CATEGORICAL]
	4 : employment_type [CATEGORICAL]
	1 : company_location [CATEGORICAL]

Attribute in nodes with depth <= 3:
	2403 : job_title [CATEGORICAL]
	1461 : experience_level [CATEGORICAL]
	215 : work_setting [CATEGORICAL]
	180 : company_size [CATEGORICAL]
	146 : work_year [NUMERICAL]
	28 : employment_type [CATEGORICAL]
	2 : company_location [CATEGORICAL]

Attribute in nodes with depth <= 5:
	7715 : job_title [CATEGORICAL]
	2707 : experience_level [CATEGORICAL]
	2376 : work_setting [CATEGORICAL]
	1316 : work_year [NUMERICAL]
	982 : company_size [CATEGORICAL]
	38 : employment_type [CATEGORICAL]
	7 : company_location [CATEGORICAL]

Condition type in nodes:
	32275 : ContainsBitmapCondition
	11528 : ContainsCondition
	4081 : HigherCondition
Condition type in nodes with depth <= 0:
	281 : ContainsBitmapCondition
	19 : HigherCondition
Condition type in nodes with depth <= 1:
	873 : ContainsBitmapCondition
	27 : HigherCondition
Condition type in nodes with depth <= 2:
	2043 : ContainsBitmapCondition
	51 : HigherCondition
	2 : ContainsCondition
Condition type in nodes with depth <= 3:
	4227 : ContainsBitmapCondition
	146 : HigherCondition
	62 : ContainsCondition
Condition type in nodes with depth <= 5:
	12662 : ContainsBitmapCondition
	1316 : HigherCondition
	1163 : ContainsCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: rmse:51000.4
	trees: 11, Out-of-bag evaluation: rmse:50606.8
	trees: 21, Out-of-bag evaluation: rmse:50477.7
	trees: 31, Out-of-bag evaluation: rmse:50443.4
	trees: 41, Out-of-bag evaluation: rmse:50411.9
	trees: 51, Out-of-bag evaluation: rmse:50411.1
	trees: 61, Out-of-bag evaluation: rmse:50408.1
	trees: 71, Out-of-bag evaluation: rmse:50400.7
	trees: 81, Out-of-bag evaluation: rmse:50401.9
	trees: 91, Out-of-bag evaluation: rmse:50390.8
	trees: 101, Out-of-bag evaluation: rmse:50372.4
	trees: 111, Out-of-bag evaluation: rmse:50371.9
	trees: 121, Out-of-bag evaluation: rmse:50367.1
	trees: 131, Out-of-bag evaluation: rmse:50361.8
	trees: 141, Out-of-bag evaluation: rmse:50364
	trees: 151, Out-of-bag evaluation: rmse:50366.8
	trees: 161, Out-of-bag evaluation: rmse:50373.5
	trees: 171, Out-of-bag evaluation: rmse:50381.6
	trees: 181, Out-of-bag evaluation: rmse:50378.2
	trees: 191, Out-of-bag evaluation: rmse:50379.1
	trees: 201, Out-of-bag evaluation: rmse:50384.6
	trees: 211, Out-of-bag evaluation: rmse:50384
	trees: 221, Out-of-bag evaluation: rmse:50383.5
	trees: 231, Out-of-bag evaluation: rmse:50382.4
	trees: 241, Out-of-bag evaluation: rmse:50380.3
	trees: 251, Out-of-bag evaluation: rmse:50380.8
	trees: 261, Out-of-bag evaluation: rmse:50380.8
	trees: 271, Out-of-bag evaluation: rmse:50382.1
	trees: 281, Out-of-bag evaluation: rmse:50384.1
	trees: 292, Out-of-bag evaluation: rmse:50384.7
	trees: 300, Out-of-bag evaluation: rmse:50384

## Compute Model Accuracy

In [15]:
model.compile(metrics=['MAPE'])
model.evaluate(train_ds, return_dict=True)
model.evaluate(test_ds, return_dict=True)

7/7 [==============================] - 0s 31ms/step - loss: 0.0000e+00 - MAPE: 26.9925
2/2 [==============================] - 0s 4ms/step - loss: 0.0000e+00 - MAPE: 28.9744

{'loss': 0.0, 'MAPE': 28.974369049072266}

## Save the Model

In [16]:
model.save('models/')

INFO:tensorflow:Assets written to: models/assets

INFO:tensorflow:Assets written to: models/assets