# Data Salary Prediction Model

## Package Imports

In [1]:
import pandas as pd
import tensorflow_decision_forests as tfdf

## Prepare Dataset

In [2]:
dataset = pd.read_csv('jobs_in_data.csv')

### Filter Fields

In [3]:
df = dataset[dataset['employee_residence'] == 'United States'].loc[:, ~dataset.columns.isin(['salary_currency', 'salary','job_category'])]
print(df)

      work_year                 job_title  salary_in_usd employee_residence  \
1          2023            Data Architect         186000      United States
2          2023            Data Architect          81800      United States
3          2023            Data Scientist         212000      United States
4          2023            Data Scientist          93300      United States
5          2023            Data Scientist         130000      United States
...         ...                       ...            ...                ...
9350       2021           Data Specialist         165000      United States
9351       2020            Data Scientist         412000      United States
9352       2021  Principal Data Scientist         151000      United States
9353       2020            Data Scientist         105000      United States
9354       2020     Business Data Analyst         100000      United States

     experience_level employment_type work_setting company_location  \
1              Senior       Full-time    In-person    United States
2              Senior       Full-time    In-person    United States
3              Senior       Full-time    In-person    United States
4              Senior       Full-time    In-person    United States
5              Senior       Full-time       Remote    United States
...               ...             ...          ...              ...
9350           Senior       Full-time       Remote    United States
9351           Senior       Full-time       Remote    United States
9352        Mid-level       Full-time       Remote    United States
9353      Entry-level       Full-time       Remote    United States
9354      Entry-level        Contract       Remote    United States

     company_size
1               M
2               M
3               M
4               M
5               M
...           ...
9350            L
9351            L
9352            L
9353            S
9354            L

[8086 rows x 9 columns]

### Test the Dataset

In [4]:
jobTypeMean = df.groupby("experience_level")["salary_in_usd"].mean().round(2)
print(jobTypeMean)

experience_level
Entry-level    104637.16
Executive      195731.13
Mid-level      130431.59
Senior         166284.88
Name: salary_in_usd, dtype: float64

### Split Dataset into Train and Test Dataframes

In [5]:
size = round(df.shape[0]/2)
train_df = df.iloc[:size,:]
test_df = df.iloc[size:,:]

### Covert to TensorFlow Datasets

In [6]:
label = 'salary_in_usd'
# Will assign each label to an integer value and convert the dataframes to TensorFlow datasets
train_ds = tfdf.keras.pd_dataframe_to_tf_dataset(train_df, label=label, task = tfdf.keras.Task.REGRESSION)
test_ds = tfdf.keras.pd_dataframe_to_tf_dataset(test_df, label=label, task = tfdf.keras.Task.REGRESSION)

## Train and Fit the Model

### Using Random Forest Regression Model

In [7]:
model = tfdf.keras.RandomForestModel(task = tfdf.keras.Task.REGRESSION)
model.fit(train_ds)

Use /var/folders/3z/2gcw_n2549qdw21w2lvvh6hh0000gn/T/tmpz7usxbk7 as temporary training directory
Reading training dataset...
Training dataset read in 0:00:01.394581. Found 4043 examples.
Training model...
Model trained in 0:00:00.213397
Compiling model...

[INFO 24-06-15 21:57:54.6956 EDT kernel.cc:1233] Loading model from path /var/folders/3z/2gcw_n2549qdw21w2lvvh6hh0000gn/T/tmpz7usxbk7/model/ with prefix 87818e5e2ec64d3b
[INFO 24-06-15 21:57:54.7793 EDT decision_forest.cc:734] Model loaded with 300 root(s), 64490 node(s), and 6 input feature(s).
[INFO 24-06-15 21:57:54.7793 EDT abstract_model.cc:1344] Engine "RandomForestGeneric" built
[INFO 24-06-15 21:57:54.7793 EDT kernel.cc:1061] Use fast generic engine

Model compiled.

### Model Summary

In [8]:
model.summary()

Model: "random_forest_model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
=================================================================
Total params: 1 (1.00 Byte)
Trainable params: 0 (0.00 Byte)
Non-trainable params: 1 (1.00 Byte)
_________________________________________________________________
Type: "RANDOM_FOREST"
Task: REGRESSION
Label: "__LABEL"

Input Features (8):
	company_location
	company_size
	employee_residence
	employment_type
	experience_level
	job_title
	work_setting
	work_year

No weights

Variable Importance: INV_MEAN_MIN_DEPTH:
    1.        "job_title"  0.978026 ################
    2. "experience_level"  0.318301 ###
    3.     "work_setting"  0.157241
    4.     "company_size"  0.138268
    5.  "employment_type"  0.115738
    6.        "work_year"  0.115678

Variable Importance: NUM_AS_ROOT:
    1.        "job_title" 294.000000 ################
    2. "experience_level"  6.000000

Variable Importance: NUM_NODES:
    1.        "job_title" 19589.000000 ################
    2.     "work_setting" 5567.000000 ####
    3. "experience_level" 4712.000000 ###
    4.     "company_size" 2205.000000 #
    5.  "employment_type" 14.000000
    6.        "work_year"  8.000000

Variable Importance: SUM_SCORE:
    1.        "job_title" 1252312126151265.750000 ################
    2. "experience_level" 259115697284660.093750 ###
    3.     "work_setting" 34531844243791.867188
    4.     "company_size" 17089251412557.224609
    5.  "employment_type" 88908924380.250000
    6.        "work_year" 29654495783.781250



Out-of-bag evaluation: rmse:51242.7
Number of trees: 300
Total number of nodes: 64490

Number of nodes by tree:
Count: 300 Average: 214.967 StdDev: 7.2672
Min: 195 Max: 233 Ignored: 0
----------------------------------------------
[ 195, 196)  1   0.33%   0.33%
[ 196, 198)  3   1.00%   1.33% #
[ 198, 200)  3   1.00%   2.33% #
[ 200, 202)  7   2.33%   4.67% ##
[ 202, 204)  5   1.67%   6.33% #
[ 204, 206) 18   6.00%  12.33% ####
[ 206, 208) 18   6.00%  18.33% ####
[ 208, 210) 21   7.00%  25.33% #####
[ 210, 212) 21   7.00%  32.33% #####
[ 212, 214) 27   9.00%  41.33% ######
[ 214, 216) 43  14.33%  55.67% ##########
[ 216, 218) 27   9.00%  64.67% ######
[ 218, 220) 28   9.33%  74.00% #######
[ 220, 222) 30  10.00%  84.00% #######
[ 222, 224) 20   6.67%  90.67% #####
[ 224, 226)  8   2.67%  93.33% ##
[ 226, 228)  7   2.33%  95.67% ##
[ 228, 230) 11   3.67%  99.33% ###
[ 230, 232)  1   0.33%  99.67%
[ 232, 233]  1   0.33% 100.00%

Depth by leafs:
Count: 32395 Average: 7.65093 StdDev: 1.70518
Min: 3 Max: 15 Ignored: 0
----------------------------------------------
[  3,  4)   25   0.08%   0.08%
[  4,  5)  594   1.83%   1.91% #
[  5,  6) 2516   7.77%   9.68% ####
[  6,  7) 5450  16.82%  26.50% ########
[  7,  8) 7061  21.80%  48.30% ##########
[  8,  9) 6942  21.43%  69.73% ##########
[  9, 10) 5176  15.98%  85.70% #######
[ 10, 11) 2958   9.13%  94.84% ####
[ 11, 12) 1207   3.73%  98.56% ##
[ 12, 13)  366   1.13%  99.69% #
[ 13, 14)   77   0.24%  99.93%
[ 14, 15)   21   0.06%  99.99%
[ 15, 15]    2   0.01% 100.00%

Number of training obs by leaf:
Count: 32395 Average: 37.441 StdDev: 73.6309
Min: 5 Max: 490 Ignored: 0
----------------------------------------------
[   5,  29) 24010  74.12%  74.12% ##########
[  29,  53)  3746  11.56%  85.68% ##
[  53,  77)  1091   3.37%  89.05%
[  77, 102)   869   2.68%  91.73%
[ 102, 126)   492   1.52%  93.25%
[ 126, 150)   219   0.68%  93.92%
[ 150, 175)   408   1.26%  95.18%
[ 175, 199)   246   0.76%  95.94%
[ 199, 223)   141   0.44%  96.38%
[ 223, 248)   156   0.48%  96.86%
[ 248, 272)   105   0.32%  97.18%
[ 272, 296)    12   0.04%  97.22%
[ 296, 320)     1   0.00%  97.22%
[ 320, 345)    57   0.18%  97.40%
[ 345, 369)   134   0.41%  97.81%
[ 369, 393)   138   0.43%  98.24%
[ 393, 418)   181   0.56%  98.80%
[ 418, 442)   257   0.79%  99.59%
[ 442, 466)   115   0.35%  99.95%
[ 466, 490]    17   0.05% 100.00%

Attribute in nodes:
	19589 : job_title [CATEGORICAL]
	5567 : work_setting [CATEGORICAL]
	4712 : experience_level [CATEGORICAL]
	2205 : company_size [CATEGORICAL]
	14 : employment_type [CATEGORICAL]
	8 : work_year [NUMERICAL]

Attribute in nodes with depth <= 0:
	294 : job_title [CATEGORICAL]
	6 : experience_level [CATEGORICAL]

Attribute in nodes with depth <= 1:
	707 : job_title [CATEGORICAL]
	190 : experience_level [CATEGORICAL]
	3 : company_size [CATEGORICAL]

Attribute in nodes with depth <= 2:
	1288 : job_title [CATEGORICAL]
	799 : experience_level [CATEGORICAL]
	7 : work_setting [CATEGORICAL]
	6 : company_size [CATEGORICAL]

Attribute in nodes with depth <= 3:
	2505 : job_title [CATEGORICAL]
	1632 : experience_level [CATEGORICAL]
	236 : work_setting [CATEGORICAL]
	100 : company_size [CATEGORICAL]
	2 : employment_type [CATEGORICAL]

Attribute in nodes with depth <= 5:
	7755 : job_title [CATEGORICAL]
	2877 : experience_level [CATEGORICAL]
	2864 : work_setting [CATEGORICAL]
	921 : company_size [CATEGORICAL]
	8 : employment_type [CATEGORICAL]
	2 : work_year [NUMERICAL]

Condition type in nodes:
	23564 : ContainsBitmapCondition
	8523 : ContainsCondition
	8 : HigherCondition
Condition type in nodes with depth <= 0:
	300 : ContainsBitmapCondition
Condition type in nodes with depth <= 1:
	900 : ContainsBitmapCondition
Condition type in nodes with depth <= 2:
	2099 : ContainsBitmapCondition
	1 : ContainsCondition
Condition type in nodes with depth <= 3:
	4402 : ContainsBitmapCondition
	73 : ContainsCondition
Condition type in nodes with depth <= 5:
	12947 : ContainsBitmapCondition
	1478 : ContainsCondition
	2 : HigherCondition
Node format: NOT_SET

Training OOB:
	trees: 1, Out-of-bag evaluation: rmse:50975.5
	trees: 11, Out-of-bag evaluation: rmse:51740
	trees: 21, Out-of-bag evaluation: rmse:51512.4
	trees: 31, Out-of-bag evaluation: rmse:51409.2
	trees: 41, Out-of-bag evaluation: rmse:51299.9
	trees: 53, Out-of-bag evaluation: rmse:51286.8
	trees: 63, Out-of-bag evaluation: rmse:51318.4
	trees: 73, Out-of-bag evaluation: rmse:51307.2
	trees: 83, Out-of-bag evaluation: rmse:51303.4
	trees: 93, Out-of-bag evaluation: rmse:51302.1
	trees: 103, Out-of-bag evaluation: rmse:51291.5
	trees: 113, Out-of-bag evaluation: rmse:51275
	trees: 123, Out-of-bag evaluation: rmse:51269.9
	trees: 134, Out-of-bag evaluation: rmse:51266.4
	trees: 144, Out-of-bag evaluation: rmse:51257.6
	trees: 154, Out-of-bag evaluation: rmse:51264.1
	trees: 166, Out-of-bag evaluation: rmse:51269.4
	trees: 176, Out-of-bag evaluation: rmse:51274.9
	trees: 186, Out-of-bag evaluation: rmse:51273.1
	trees: 197, Out-of-bag evaluation: rmse:51273.3
	trees: 207, Out-of-bag evaluation: rmse:51273
	trees: 219, Out-of-bag evaluation: rmse:51273.2
	trees: 231, Out-of-bag evaluation: rmse:51264.6
	trees: 241, Out-of-bag evaluation: rmse:51260.7
	trees: 254, Out-of-bag evaluation: rmse:51249.7
	trees: 265, Out-of-bag evaluation: rmse:51247.6
	trees: 275, Out-of-bag evaluation: rmse:51241.4
	trees: 286, Out-of-bag evaluation: rmse:51248.6
	trees: 296, Out-of-bag evaluation: rmse:51244.5
	trees: 300, Out-of-bag evaluation: rmse:51242.7

## Compute Model Accuracy

In [9]:
model.compile(metrics=['MAPE'])
model.evaluate(train_ds, return_dict=True)
model.evaluate(test_ds, return_dict=True)

5/5 [==============================] - 2s 19ms/step - loss: 0.0000e+00 - MAPE: 27.5783
5/5 [==============================] - 0s 18ms/step - loss: 0.0000e+00 - MAPE: 28.8172

{'loss': 0.0, 'MAPE': 28.81723403930664}

## Save the Model

In [10]:
model.save('models/')

INFO:tensorflow:Assets written to: models/assets

INFO:tensorflow:Assets written to: models/assets